@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); 
* {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
  user-select: none;
}

.searchResultRow {
  padding-left: 2.5em;
  list-style-type: none;
  padding: none;
  margin: none;
  display: flex;
  justify-content: space-evenly;
}

.searchResultRow:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.lastName {
  flex: 15%;
}

.firstName {
  flex: 25%;
}

.address {
  flex: 20%;
}

.studentID {
  flex: 10%
}

.addIcon {
  margin: auto;
}

.font {
  border: 1px solid red;
}